{% load static %}
<html>
    <head>
        <title>Django Books</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Oswald:wght@300;400;500&family=Lobster&subset=latin,latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/home/">Django Books</a></h1>
            <div id="terminal-div">Take a look of what's going on "under the hood" and see the code behind the recommendations<a href="{% url 'terminal' %}" target="_blank"><button id="terminal-button" class="button"><span>Terminal </span></button></a></div>

        </div>

            <div class="row">
                    {% block content %}

                    {% endblock %}
            </div>
    </body>
</html>