{% extends 'blog/base.html' %}

{% block content %}
  <h2><p>Hello {{profile.user.username}},</p>
      <p>To help us understand your book taste a little bit better, please like or dislike 3 books. Thank you!</p>
    </h2>

        <hr>
        <h2><p>Have some specific title or author in mind? Use our search engine to find it.</p></h2>
        <form name="myform" method="GET" action="">
            <input type="text" name="search" placeholder="Search" value='{{request.GET.search}}' />
            <input type="submit" value="Search" />
        </form>
    <div class="album py-5 bg-light">
    <div class="container">
    <div class="row">
        {% if books %}
            {% for book in books %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <h3>{{book.title}}</h3>
                            <div class="card-body">
                            <img src='{{book.cover.url}}' class='img-responsive' height="350" width="200"/>
                            <p class="card-text">Author: {{book.author}}</p>
                            <p class="card-text">Language: {{book.language}}</p>
                            <form method="post" action="">{% csrf_token %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button name="like" type="submit" value=book.id>Like <span class="glyphicon glyphicon-thumbs-up"/></button>
                                        <button name="dislike" type="submit" value=book.id>Disike <span class="glyphicon glyphicon-thumbs-down"/></button>
                                    </div>
                                </div>
                            </form>
                            </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>

{% endblock %}
