.page-header {
    background-image: url("books3.jpg");
    /*background-color: #ff9400;*/
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    color: #ffffff;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 42pt;
    text-decoration: none;
    font-family: "Lobster", cursive;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.content {
  margin-left: 40px;
  text-decoration: none;
}

.about {
    font-family: "Oswald";
    font-weight: 300;
    font-size:150%;
    color: #000000;
}

.like {
    font-family: "Lobster", cursive;
    color: #0f0000;
    font-size: 120%;
}

h1, h2 {
    font-family: "Oswald", bold;
    font-weight: 500;
    color: #000000;
}

h3, h4, p {
    font-family: "Oswald";
    font-weight: 300;
    color: #000000;
}

h5 {
    font-weight: bold;
}

a {
    font-family: 'Lobster', cursive;
    color: #000000;
}

button {
    font-family: "Lobster", cursive;
    color: #000000;
}


#search-button {
    font-family: "Lobster", cursive;
    color: #000000;
    font-size: 140%;
}
#search-field {
    color: #000000;
    font-size: 140%;
    font-family: "Oswald";
}
#date{
    float:right;
}
#comment{
  margin-bottom: 10px;
  width:100%;
  max-width:100%;
  max-height:30%;
}

#terminal {
  width: 100%;
  overflow-y: scroll;
  resize: none;
  background-color: black;
  background-image: radial-gradient(
    rgba(255, 51, 0, 0.75), black 120%
  );
  height: 60vh;
  margin: 0;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
  }
}

#terminal-div{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: top;
  font-size: 12px;
  padding: 10px;
  width: 210px;
  transition: all 0.5s;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  right: 30px;
  top: 15px;
  height: 100px;
}

#terminal-button{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 0px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  right: 30px;
  bottom: 0px;
}

#terminal-button:hover span:after {
  opacity: 1;
  right: 0;
}

#terminal-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#terminal-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#terminal-button:hover span {
  padding-right: 25px;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}